.board {
  display: flex;
  gap: 25px;
}

.column {
  flex: 1;
  background: #f9fafb;
  padding: 20px;
  border-radius: 14px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.column h3 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #6b7280;
}

/* Task Card */
.task {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 500;
  border-left: 5px solid transparent;
}

/* Priority Indicators */
.HIGH {
  border-left-color: #dc2626;
}

.MEDIUM {
  border-left-color: #f59e0b;
}

.LOW {
  border-left-color: #16a34a;
}