.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.login-card select,
.login-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}